.card {
    display: grid;
    grid-template-columns: 4fr 1fr; /* Sets the first column to be three times larger than the second column */
    grid-gap: 5px; /* Adds a gap of 20px between grid items */
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin: 20px;
    padding: 20px;
    background-color: #fff; /* Add your desired background color here */
    color: #000; /* Set text color to black */
}

.card h2, .card h3 {
    color: #333;
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 10px;
    line-height: 1.6;
}

