.background-video video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 36%;
    left: 50%;
    opacity: 0.5;
    transform: translate(-50%, -50%);
    z-index: -1; /* Move the video to be at the back in the z layers */
}


.background-video::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/jdogo.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    z-index: -2; /* Move the background image behind the video */
}
