.App {
  text-align: center;
}


.parent {
  display: flex;
  height: 300px; /* Or whatever */
}

.child {
  width: 100px;  /* Or whatever */
  height: 100px; /* Or whatever */
  margin: auto;  /* Magic! */
}

.Container {
  /* Add styles for the container here */
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Row {
  /* Add styles for the row here */
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.Col {
  /* Add styles for the column here */
  flex: 1;
  padding: 10px;
}

.Home-Image {
  height: 50vmin;
  pointer-events: none;
  mask-image: radial-gradient(at center, rgb(138, 48, 48) 60%, transparent 70%);
}

.AboutUs-Image {
  height: 50vmin;
  pointer-events: none;
  mask-image: radial-gradient(at center, rgb(138, 48, 48) 66%, transparent 70%);
}

.Stock-Image {
  height: 20vmin;
  pointer-events: none;
  mask-image: radial-gradient(at center, rgb(138, 48, 48) 66%, transparent 70%);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #717d95;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
